{% extends "mail/_base.twig" %}

{% block content %}
<p>Bonjour {{ user.first_name }} {{ user.last_name }},</p>

<p>Voici les accès que vous avez demandé à recevoir.</p>

<h3>Accès à votre espace Web</h3>
<ul>
  <li>Adresse Internet : https://{{ user.domain_name }}</li>
</ul>

<p>Accès SFTP (sécurisé)</p>
<ul>
  <li>Hôte SFTP : {{ domain_name }}</li>
  <li>Port de connexion : 22</li>
  <li>Nom d'utilisateur : {{ user.unix_username }}</li>
  <li>Mot de passe : {{ user.unix_password }}</li>
</ul>

<h3>Accès MySQL</h3>
<ul>
  <li>Hôte de la base de données : localhost</li>
  <li>Nom de la base de données : {{ user.mysql_username }}</li>
  <li>Nom d'utilisateur : {{ user.mysql_username }}</li>
  <li>Mot de passe : {{ user.mysql_password }}</li>
  <li>Accès phpMyAdmin : https://pma.{{ domain_name }}</li>
</ul>

{% endblock %}

